# vim: set ft=gitignore:

########
# Fish
####
# Guard against generated completion scripts
fish/.config/fish/completions/
fish/.config/fish/fish_variables

########
# Git
####
# git-identity config
git/.config/git/x-identity.conf

########
# SSH
####
ssh/.ssh/known_hosts
ssh/.ssh/hosts.d/
ssh/.ssh/keys/

########
# Shell
####
# litecli, pgcli, etc
shell/.config/*cli/history
shell/.config/*cli/log
