[submodule "fish/.config/fish/plugins/z"]
	path = _submodules/z
	url = https://github.com/jethrokuan/z.git
	shallow = true
[submodule "fish/.config/fish/plugins/plugin-foreign-env"]
	path = _submodules/plugin-foreign-env
	url = https://github.com/oh-my-fish/plugin-foreign-env.git
	shallow = true
