# vim: set ft=gitignore:

########
# Fish
####
# Guard against generated completion scripts
fish/.config/fish/completions/
fish/.config/fish/conf.d/*.local.fish
fish/.config/fish/fish_variables
fish/.config/fish/fishd.*

########
# Git
####
# git-identity config
git/.config/git/x-identity.conf

########
# Nix
####
nix/dot-config/flakey-profile/flake.lock

########
# SSH
####
ssh/.ssh/authorized_keys
ssh/.ssh/hosts.d/
ssh/.ssh/id_*
ssh/.ssh/keys/
ssh/.ssh/known_hosts*

########
# Shell
####

# litecli, pgcli, etc
shell/.config/*cli/history
shell/.config/*cli/log

########
# Vim
####
vim/.config/nvim/*
